<head>
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta name="description" id="safarishareqq" content="一条生活馆">
    <link rel="apple-touch-icon" id="safarishare">
    <!-- <link rel="manifest" href="https://asset.yit.com/h5r/manifest.json"> -->
    <link rel="shortcut icon" href="https://asset.yit.com/h5r/favicon.ico">
    <title>我的</title>
</head>
<body>
    <h2>Hello World</h2>
    <p><%= a %></p>
    <p><%= url %></p>
    <p><%= requestStr %></p>
    <p>ctx.request.query</p>
    <form method="POST" action="/">
        <input name="name" type="text" />
        <input name="password" type="password" />
        <button type="submit">提交</button>
    </form>
</body>